

*{
  margin: 0;
}

body{
  background-color: rgba(220, 220, 220, 0.756);
}




.app_header{
  display: flex;
  flex-direction: column;
}

.app_graph{
  margin-top: 10px;
  height: auto;
}





@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}
